@page
@model application_01.Pages.Movies.EditModel

@{
 ViewData ["Título"] = "Editar";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div classeeeeeeeeeeeeeeeeeeeee="linha">
    <div classeeeeeeeeeeeeeeeeeeeee="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" classeeeeeeeeeeeeeeeeeeeee="perigo de texto"> </div>
            <input type="oculto" asp-para="Movie.Id" />
            <div classeeeeeeeeeeeeeeeeeeeee="form-group">
                <label asp-para="Movie.Title" classeeeeeeeeeeeeeeeeeeeee="rótulo de controle"> </ label>
                <input asp-para="Movie.Title" classeeeeeeeeeeeeeeeeeeeee="controle de forma" />
                <span asp-validation-para="Movie.Title" classeeeeeeeeeeeeeeeeeeeee="perigo de texto"> </span>
            </div>
            <div classeeeeeeeeeeeeeeeeeeeee="form-group">
                <label asp-para="Movie.ReleaseDate" classeeeeeeeeeeeeeeeeeeeee="rótulo de controle"> </ label>
                <input asp-para="Movie.ReleaseDate" classeeeeeeeeeeeeeeeeeeeee="controle de forma" />
                <span asp-validation-para="Movie.ReleaseDate" classeeeeeeeeeeeeeeeeeeeee="perigo de texto"> </span>
            </div>
            <div classeeeeeeeeeeeeeeeeeeeee="form-group">
                <label asp-para="Movie.Genre" classeeeeeeeeeeeeeeeeeeeee="rótulo de controle"> </ label>
                <input asp-para="Movie.Genre" classeeeeeeeeeeeeeeeeeeeee="controle de forma" />
                <span asp-validation-para="Movie.Genre" classeeeeeeeeeeeeeeeeeeeee="perigo de texto"> </span>
            </div>
            <div classeeeeeeeeeeeeeeeeeeeee="form-group">
                <label asp-para="Movie.Price" classeeeeeeeeeeeeeeeeeeeee="rótulo de controle"> </ label>
                <input asp-para="Movie.Price" classeeeeeeeeeeeeeeeeeeeee="controle de forma" />
                <span asp-validation-para="Movie.Price" classeeeeeeeeeeeeeeeeeeeee="perigo de texto"> </span>
            </div>
            <div classeeeeeeeeeeeeeeeeeeeee="form-group">
                <input type="enviar" valor="Salvar" classeeeeeeeeeeeeeeeeeeeee="btn btn-primário" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Índice"> Voltar à lista </a>
</div>

@section Scripts {
    @{aguarde Html.RenderPartialAsync ("_ValidationScriptsPartial");}
}
